# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.log

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/

# Local databases/data
db/
*.db
*.sqlite

# Node/React
node_modules/
dist/
build/
.eslintcache


backend/fallback_dataset/cache/